:host {
  background-color: #333333;
  width: 44px;
}

mat-button-toggle {
  padding: 0px;
  color: #adadad;
  border: none !important;
  &:hover {
    color: white;
  }
  button {
   background-color: blue;
    div {
      padding: 0 10px !important;
    }
  }
}
