
:host{
   background-color: #333333;
   width: 44px;
}

button[mat-button] {
   padding: 0px;
   width: 44px;
   min-width: 44px;
   color: #ADADAD;
   &:hover {  
      color: white;
   }
}