<div *ngIf="activeSelection?.properties">
    <mat-icon *ngIf="activeSelection.icon">
        {{activeSelection.icon}}
    </mat-icon>
    <input [(value)]="activeSelection.name" />
    {{activeSelection.type}}

    <div *ngIf="activeSelection?.properties?.items">
        <div title="property.description" *ngFor="let property of activeSelection.properties.items">
            {{property.name}}
            <app-numberic *ngIf="property.type == 'default'"></app-numberic>

        </div>
    </div>
</div>