:host {
  width: 100%;
  height: 100%;
}
.hover {
  background-color: #094771;
}
.selected {
  background-color: #3399ff !important;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
.content {
  margin-top: 2px;
}
.text {
  cursor: default;
  white-space: nowrap;
}

.mat-icon-button {
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
  font-size: 20px;
  padding-left: 2px;
}

mat-icon {
  font-size: 15px;
  height: 20px;
  width: 15px;
  line-height: 20px !important;
  margin-right: 4px;
}
