<div class="label-item" *ngIf="namePropertiesVisible">
    <div>
        <mat-icon>{{icon || "code"}}
        </mat-icon>
    </div>
    <div>
        <div class="label-item">Name: <input [readonly]="!nameProperty || nameProperty.readonly"
                (focusout)="onNameFocusOut($event)" [(value)]="name" /></div>
        <div class="label-item">Type: <span>{{type}}</span></div>
    </div>
</div>

<div *ngIf="properties?.items" class="properties">
    <div  class="property" [title]="property?.description" *ngFor="let property of properties.items">
        <app-numeric *ngIf="property.type == 'number'" [property]="property"></app-numeric>
        <app-text *ngIf="property.type == 'text' && property.key != 'nm'" [property]="property"></app-text>
        <app-color *ngIf="property.type == 'color'" [property]="property"></app-color>
        <app-dnumeric *ngIf="property.type == 'dnumber'" [property]="property"></app-dnumeric>
        <!--app-text [property]="property" *ngIf="property.type == 'default'"></app-text>-->
    </div>
</div>