<div *ngIf="mode === ViewMode.Animator">
    <button mat-button>
        <mat-icon>fiber_manual_record</mat-icon>
    </button>
    <span class="separator">
    </span>
    <button (click)="first()" mat-button>
        <mat-icon>first_page</mat-icon>
    </button>
    <button (click)="prev()" mat-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button (click)="play()" *ngIf="!isPlaying" mat-button>
        <mat-icon>play_arrow</mat-icon>
    </button>
    <button (click)="pause()" *ngIf="isPlaying" mat-button>
        <mat-icon>pause</mat-icon>
    </button>
    <button (click)="next()" mat-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button (click)="last()" mat-button>
        <mat-icon>last_page</mat-icon>
    </button>
    <!--span class="separator">
    </span>
    <button (click)="loop()" mat-button>
        <mat-icon>loop</mat-icon>
    </button>
    <button (click)="bounce()" mat-button>
        <mat-icon>swap_horiz</mat-icon>
    </button>
    <button mat-button>
        <mat-icon>repeat</mat-icon>
    </button>-->
    <span class="separator">
    </span>
    <button *ngIf="!isPan" (click)="pan()" mat-button>
        <mat-icon>pan_tool</mat-icon>
    </button>
    <button *ngIf="isPan" (click)="select()" mat-button>
        <mat-icon>tab_unselected</mat-icon>
    </button>
    <!--button mat-button>
        <mat-icon>zoom_in</mat-icon>
    </button-->
    <span id="currentTime"></span>
</div>
<div class="end-container flex-center">
    <div class="flex-center" *ngIf="message">{{message}}</div>
    <app-mouse-tracker></app-mouse-tracker>
</div>