<div class="main">
    <div class="scroll-and-controls-container">
        <app-player-toolbar [style.height.px]="scrollbarsSize"></app-player-toolbar>
        <div (scroll)="onScroll($event)" #scrollContainer class="scroll-container">
            <div #scrollContent class="scroll-content"></div>
        </div>
    </div>

    <div #svgContainer class="svg-container noselect">
        <svg fill="transparent" #svg class="svg-content noselect" xmlns="http://www.w3.org/2000/svg"
            xmlns:ev="http://www.w3.org/2001/xml-events" version="1.1" (touchstart)="onViewportTouchStart($event)"
            (mousedown)="onViewportMouseDown($event)" (mouseup)="onViewportMouseUp($event)"
            (touchend)="onViewportTouchEnd($event)" 
            (mousemove)="onViewportMouseMove($event)"
            (touchmove)="onViewportTouchMove($event)"
            (mouseleave)="onViewportMouseLeave($event)" (touchleave)="onViewportTouchLeave($any($event))"
            (blur)="onViewportBlur($event)" (wheel)="onViewportMouseWheel($event)" (contextmenu)="onViewportContextMenu($event)"
            (touchcancel)="onViewportTouchCancel($event)">
            <g #svgViewport class="svg-viewport">
                <rect class="shadow-workarea" x="0" y="0" width="640" height="480" vector-effect="non-scaling-stroke"
                    shape-rendering="crispEdges" [attr.x]="shadowAreaSize.x" [attr.y]="shadowAreaSize.y"
                    [attr.width]="shadowAreaSize.width" [attr.height]="shadowAreaSize.height">
                    <!--Shadow viewport used to add some extra scroll when svg is loaded-->
                </rect>
                <svg class="player" #player [attr.width]="workAreaSize.width" [attr.height]="workAreaSize.height"
                    [attr.x]="workAreaSize.x" (mouseout)="onPlayerMouseOut($event)"
                    (mouseover)="onPlayerMouseOver($event)" [attr.y]="workAreaSize.y">
                   
                </svg>
            </g>
        </svg>
        <div class="viewport-units" *ngIf="rulerVisible">
            
        </div>
        <canvas #rulerH class="canvas-ruler-h" *ngIf="rulerVisible"></canvas>
        <canvas #rulerV class="canvas-ruler-v" *ngIf="rulerVisible"></canvas>
        <app-player-adorners></app-player-adorners>
        <app-notification></app-notification>
    </div>
    <button [style.height.px]="scrollbarsSize" [style.width.px]="scrollbarsSize" mat-button #resetButton
        class="reset-button" (click)="fitViewportOrSelected()">
        <mat-icon>aspect_ratio</mat-icon>
    </button>
</div>