<div class="main">
    <div class="scroll-and-controls-container">
        <div class="scroll-area-controls" [style.height.px]="scrollbarSize">
            <button mat-button class="zoom-icon" (click)="setZoomLevel(zoomInput.value, 1)">
                <mat-icon>zoom_in</mat-icon>
            </button>
            <input class="zoom-input" #zoomInput type="text" (blur)="setZoomLevel(zoomInput.value)"
                (keyup.enter)="setZoomLevel(zoomInput.value)" [value]="scrollbarInputValue">
            <button mat-button class="zoom-icon" (click)="setZoomLevel(zoomInput.value, -1)">
                <mat-icon>zoom_out</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setZoomLevel(100)">100%</button>
                <button mat-menu-item (click)="centerViewport()">Center</button>
                <button mat-menu-item (click)="fitViewport()">Fit</button>
                <button mat-menu-item (click)="setZoomLevel(10)">10%</button>
                <button mat-menu-item (click)="setZoomLevel(25)">25%</button>
                <button mat-menu-item (click)="setZoomLevel(35)">35%</button>
                <button mat-menu-item (click)="setZoomLevel(50)">50%</button>
                <button mat-menu-item (click)="setZoomLevel(200)">200%</button>
                <button mat-menu-item (click)="setZoomLevel(300)">300%</button>
                <button mat-menu-item (click)="setZoomLevel(500)">500%</button>
            </mat-menu>
            <button mat-button (click)="toogleGridLines()">
                <mat-icon>grid_on</mat-icon>
            </button>
        </div>
        <div (scroll)="onScroll()" #scrollContainer class="scroll-container">
            <div #scrollContent class="scroll-content"></div>
        </div>
    </div>

    <div #svgContainer class="svg-container">
        <svg fill="transparent" #svg class="svg-content" xmlns="http://www.w3.org/2000/svg"
            xmlns:ev="http://www.w3.org/2001/xml-events" version="1.1" (touchstart)="onViewportTouchStart($event)"
            (mousedown)="onViewportMouseDown($event)" (mouseup)="onViewportMouseUp($event)"
            (touchend)="onViewportTouchEnd($event)" (touchmove)="onViewportTouchMove($event)"
            (mouseleave)="onViewportMouseLeave($event)" (touchleave)="onViewportTouchLeave($event)"
            (blur)="onViewportBlur($event)" (wheel)="onViewportMouseWheel($event)"
            (touchcancel)="onViewportTouchCancel($event)">
            <g #svgViewport class="svg-viewport">
                <rect class="shadow-workarea" x="0" y="0" width="640" height="480" vector-effect="non-scaling-stroke"
                    shape-rendering="crispEdges" [attr.x]="shadowAreaSize.x" [attr.y]="shadowAreaSize.y"
                    [attr.width]="shadowAreaSize.width" [attr.height]="shadowAreaSize.height">
                    <!--Shadow viewport used to add some extra scroll when svg is loaded-->
                </rect>
                <svg class="player" #player [attr.width]="workAreaSize.width" [attr.height]="workAreaSize.height"
                    [attr.x]="workAreaSize.x" (mouseout)="onPlayerMouseOut($event)"
                    (mouseover)="onPlayerMouseOver($event)" [attr.y]="workAreaSize.y">
                    <rect fill="white" x="0" y="0" width="640" height="480">

                    </rect>
                </svg>
            </g>
            <g>
                <rect #selectionRectangleAdorner display="none" vector-effect="non-scaling-stroke"
                    shape-rendering="crispEdges" class="selection-rectangle" x="0" y="0" width="0" height="0" />
            </g>
        </svg>
        <div class="viewport-units">
            px
        </div>
        <canvas #rulerH class="canvas-ruler-h">

        </canvas>
        <canvas #rulerW class="canvas-ruler-w">

        </canvas>
        <canvas #gridLinesAdorner class="canvas-adorners">

        </canvas>
        <canvas #canvasAdorners class="canvas-adorners">

        </canvas>
    </div>
    <button [style.height.px]="scrollbarSize" [style.width.px]="scrollbarSize" mat-button #resetButton
        class="reset-button" (click)="fitViewport()">
        <mat-icon>aspect_ratio</mat-icon>
    </button>
</div>