:host {
  height: 30px;
  padding: 0 10px !important;
  display: flex;
  overflow: hidden;
  gap: 5px;
}

button[mat-button] {
  height: 100%;
  min-width: 34px;
  max-width: 34px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 100%;
  position: relative;
  border: none !important;
  &:hover {
    color: white;
  }

  button {
    div {
      padding: 0 10px !important;
    }
  }
  mat-icon {
    color: #adadad;
    height: 100%;
    padding: 3px;
    font-size: 18px;
  }
  &[disabled] {
    color: #565656 !important;
    mat-icon {
      color: #565656 !important;
    }
  }
}
.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

mat-divider {
  padding: 5px;
  height: 80%;
}
.active {
  background-color: #323232;
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  mat-icon {
    color: white;
    fill: white;
  }
}
