<button mat-button class="zoom-icon" (click)="zoomIn()">
    <mat-icon>zoom_in</mat-icon>
</button>
<input class="zoom-input" #zoomInput type="text" (blur)="setZoomLevel(zoomInput.value)"
    (keyup.enter)="setZoomLevel(zoomInput.value)" [value]="scrollbarInputValue">
<button mat-button class="zoom-icon" (click)="zoomOut()">
    <mat-icon>zoom_out</mat-icon>
</button>
<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setZoomLevel(100)">100%</button>
    <button mat-menu-item (click)="centerViewport()">Center</button>
    <button mat-menu-item (click)="fitViewport()">Fit</button>
    <button mat-menu-item (click)="fitViewportSelected()">Fit to Selected</button>
    <button mat-menu-item (click)="setZoomLevel(10)">10%</button>
    <button mat-menu-item (click)="setZoomLevel(25)">25%</button>
    <button mat-menu-item (click)="setZoomLevel(35)">35%</button>
    <button mat-menu-item (click)="setZoomLevel(50)">50%</button>
    <button mat-menu-item (click)="setZoomLevel(200)">200%</button>
    <button mat-menu-item (click)="setZoomLevel(300)">300%</button>
    <button mat-menu-item (click)="setZoomLevel(500)">500%</button>
</mat-menu>
<button [ngClass]="{'displayed': showGridLines}" mat-button (click)="toogleGridLines()" >
    <mat-icon>grid_on</mat-icon>
</button>