:host {
  height: 100vh;
  // width: 100vh;
  overflow: hidden;
  //display: grid;
  //grid-template-rows: auto minmax(0, 1fr) auto minmax(0, 1fr);
  display: flex;
  flex-direction: column;
}

app-main-toolbar {
  height: 36px;
  background-color: #3c3c3c;
}
.drawer {
  display: grid;
  grid-template-columns: 1fr auto;
}

.player-container {
  grid-template-columns: auto minmax(0, 1fr);
  display: grid;
}
app-context-menu {
  position: fixed;
  top: 0;
  left: 0;
}
main {
  flex-grow: 4;
  height: 0px;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
}

footer {
  display: flex;
  height: 45%;
  max-height: 70%;
}

app-player {
  width: 100%;
  height: 100%;
}

app-timeline {
  flex-grow: 8;
  width: 0px;
}
app-outline {
  width: 250px;
}
app-menu {
  background-color: #252526;
}
