<main>
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">File</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="file.click()">Open File...</button>
      <button mat-menu-item [matMenuTriggerFor]="recent">Recent</button>
      <button mat-menu-item>Save</button>
      <input #file type='file' accept="application/json" style="display:none;" (change)="fileSelected($event)">
    </mat-menu>
    <mat-menu #recent="matMenu">
      <button mat-menu-item (click)="loadData(item)" *ngFor="let item of recentItems">{{item?.name}}</button>
    </mat-menu>
    <span class="toolbar-center"> {{title}}</span>
    <button (click)="drawer.toggle()" mat-button>
      <mat-icon class="example-icon" aria-hidden="false">menu</mat-icon>
    </button>
  </mat-toolbar>
  <div class="player-container" #main>
    <app-toolbox></app-toolbox>

    <mat-drawer-container>
      <mat-drawer #drawer mode="side" opened="true" position="end" #properties mwlResizable [ngStyle]="propertiesStyle"
        [resizeCursorPrecision]="6" [resizeEdges]="{ left: true }" (resizing)="onResizeProperties($event, false)"
        (resizeEnd)="onResizeProperties($event, true)">
        <app-properties> </app-properties>
      </mat-drawer>
      <mat-drawer-content [ngStyle]="drawerContentStyle">
        <app-player></app-player>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <app-controls></app-controls>
</main>
<footer #footer mwlResizable [style.height.px]="footerH" [resizeCursorPrecision]="6"
  (resizing)="onResizeFooter($event, false)" (resizeEnd)="onResizeFooter($event, true)" [enableGhostResize]="false"
  [resizeEdges]="{ top: true }">
  <app-outline (mousewheel)="onWheel($event)" #outline mwlResizable [style.width.px]="outlineW"
    [resizeCursorPrecision]="6" (resizing)="onResizeOutline($event, false)" (resizeEnd)="onResizeOutline($event, true)"
    [enableGhostResize]="false" [resizeEdges]="{ right: true }">
  </app-outline>
  <app-timeline (timelineScroll)="outline.setSize($event)"></app-timeline>
</footer>