<mat-toolbar (mousedown)="$event.stopPropagation()" (mouseup)="$event.stopPropagation()">
    <button mat-button [matMenuTriggerFor]="menu">File</button>
    <mat-menu #menu>
        <button mat-menu-item (click)="newFile()">
            <mat-icon>note_add</mat-icon><span>New File</span>
        </button>
        <button mat-menu-item (click)="file.click()">
            <mat-icon>open_in_browser</mat-icon><span>Open File...</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="recent">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Recent</span>
        </button>
        <mat-menu #recent>
            <button mat-menu-item *ngFor="let item of recentItems"
                (click)="loadData(item.data, item.title)">{{item?.title}}</button>
        </mat-menu>
        <button mat-menu-item>
            <mat-icon>save_alt</mat-icon>
            <span>Save</span>
        </button>
        <input #file type='file' accept="" style="display:none;" (change)="fileSelected($event)">
    </mat-menu>
    <button class="menu-button" mat-button (click)="undo()" [disabled]="undoDisabled">
        <mat-icon>undo</mat-icon>
    </button>
    <button class="menu-button" mat-button (click)="redo()" [disabled]="redoDisabled">
        <mat-icon>redo</mat-icon>
    </button>
    <app-dynamic-context-menu #edit [commands]="editMenuCommands"></app-dynamic-context-menu>
    <button mat-button *ngIf="edit && edit.matMenu" [matMenuTriggerFor]="edit.matMenu">Edit</button>
    <button mat-button [matMenuTriggerFor]="view">View</button>
    <mat-menu #view>
        <button mat-menu-item (click)="setMode(ViewMode.animator)">
            <mat-icon><span *ngIf="mode === ViewMode.animator">check</span></mat-icon>Animator
        </button>
        <button mat-menu-item (click)="setMode(ViewMode.editor)">
            <mat-icon><span *ngIf="mode === ViewMode.editor">check</span></mat-icon>Editor
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="appearance">
            <mat-icon></mat-icon>Viewport
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="toggleMenu()">
            <mat-icon><span *ngIf="showMenu">check</span></mat-icon>Menu
        </button>
        <button mat-menu-item (click)="toggleHistory()">
            <mat-icon><span *ngIf="showHistory">check</span></mat-icon>History
        </button>
        <button mat-menu-item (click)="toggleProperties()">
            <mat-icon><span *ngIf="showProperties">check</span></mat-icon>Properties
        </button>
        <button mat-menu-item (click)="toggleOutline()">
            <mat-icon><span *ngIf="showOutline">check</span></mat-icon>Outline
        </button>
        <mat-menu #appearance>
            <button mat-menu-item (click)="toggleGridLines()">
                <mat-icon><span *ngIf="showGridLines">check</span></mat-icon>Grid Lines
            </button>
            <button mat-menu-item (click)="toggleRuler()">
                <mat-icon><span *ngIf="rulerVisible">check</span></mat-icon>Ruler
            </button>
            <button mat-menu-item (click)="toggleBreadcrumbs()">
                <mat-icon><span *ngIf="breadcrumbsVisible">check</span></mat-icon>Breadcrumbs
            </button>
            <button mat-menu-item (click)="toggleCode()">
                <mat-icon><span *ngIf="codeVisible">check</span></mat-icon>Code
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="zoomIn()">
                <mat-icon>zoom_in</mat-icon>Zoom In
            </button>
            <button mat-menu-item (click)="zoomOut()">
                <mat-icon>zoom_out</mat-icon>Zoom Out
            </button>
            <button mat-menu-item (click)="center()">
                <mat-icon></mat-icon>Center
            </button>
            <button mat-menu-item (click)="fitViewport()">
                <mat-icon></mat-icon>Fit
            </button>
            <button mat-menu-item (click)="fitViewportSelected()">
                <mat-icon></mat-icon>Fit to Selected
            </button>
        </mat-menu>
    </mat-menu>
    <span class="toolbar-center">{{title}}</span>
    <button class="menu-button" (click)="toggleMenu()" mat-button>
        <mat-icon class="example-icon" aria-hidden="false">menu</mat-icon>
    </button>
</mat-toolbar>