<mat-toolbar (mousedown)="$event.stopPropagation()" (mouseup)="$event.stopPropagation()">
    <button mat-button [matMenuTriggerFor]="menu">File</button>
    <mat-menu #menu>
        <button mat-menu-item (click)="newFile()">
            <mat-icon>note_add</mat-icon><span>New File</span>
        </button>
        <button mat-menu-item (click)="file.click()">
            <mat-icon>open_in_browser</mat-icon><span>Open File...</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="recent">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Recent</span>
        </button>
        <mat-menu #recent>
            <button mat-menu-item (click)="loadData(item.str, item.name)"
                *ngFor="let item of recentItems">{{item?.name}}</button>
        </mat-menu>
        <button mat-menu-item>
            <mat-icon>save_alt</mat-icon>
            <span>Save</span>
        </button>
        <input #file type='file' accept="" style="display:none;" (change)="fileSelected($event)">
    </mat-menu>
    <button class="menu-button" mat-button (click)="undo()" [disabled]="undoDisabled">
        <mat-icon>undo</mat-icon>
    </button>
    <button class="menu-button" mat-button (click)="redo()" [disabled]="redoDisabled">
        <mat-icon>redo</mat-icon>
    </button>
    <app-dynamic-context-menu #edit [commands]="editMenuCommands"></app-dynamic-context-menu>
    <button mat-button *ngIf="edit && edit.matMenu" [matMenuTriggerFor]="edit.matMenu">Edit</button>
    
    <app-dynamic-context-menu #view [commands]="viewMenuCommands"></app-dynamic-context-menu>
    <button mat-button *ngIf="view && view.matMenu" [matMenuTriggerFor]="view.matMenu">View</button>
        
    <span class="toolbar-center">{{title}}</span>
    <button class="menu-button" (click)="toggleMenu()" mat-button>
        <mat-icon class="example-icon" aria-hidden="false">menu</mat-icon>
    </button>
</mat-toolbar>