<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">File</button>
    <mat-menu #menu>
        <button mat-menu-item (click)="newFile()">
            <mat-icon>note_add</mat-icon><span>New File</span>
        </button>
        <button mat-menu-item (click)="file.click()">
            <mat-icon>open_in_browser</mat-icon><span>Open File...</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="recent">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Recent</span>
        </button>
        <mat-menu #recent>
            <button mat-menu-item (click)="loadData(item.str, item.name)"
                *ngFor="let item of recentItems">{{item?.name}}</button>
        </mat-menu>
        <button mat-menu-item>
            <mat-icon>save_alt</mat-icon>
            <span>Save</span>
        </button>
        <input #file type='file' accept="" style="display:none;" (change)="fileSelected($event)">
    </mat-menu>
    <button class="menu-button" mat-button disabled (click)="undo()" [disabled]="undoDisabled">
        <mat-icon>undo</mat-icon>
    </button>
    <button class="menu-button" mat-button disabled (click)="redo()" [disabled]="redoDisabled">
        <mat-icon>redo</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="edit">Edit</button>
    <mat-menu #edit>
        <button mat-menu-item disabled (click)="undo()" [disabled]="undoDisabled">
            <mat-icon>undo</mat-icon>
            <span>Undo</span><span class="hotkey">Ctrl+Z</span>
        </button>
        <button mat-menu-item disabled (click)="redo()" [disabled]="redoDisabled">
            <mat-icon>redo</mat-icon>
            <span>Redo</span><span class="hotkey">Ctrl+Y</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="cut()">
            <mat-icon></mat-icon><span>Cut</span><span class="hotkey">Ctrl+X</span>
        </button>
        <button mat-menu-item (click)="copy()">
            <mat-icon>file_copy</mat-icon><span>Copy</span><span class="hotkey">Ctrl+C</span>
        </button>
        <button mat-menu-item (click)="paste()">
            <mat-icon></mat-icon><span>Paste</span><span class="hotkey">Ctrl+V</span>
        </button>
        <button mat-menu-item (click)="delete()">
            <mat-icon>clear</mat-icon><span>Delete</span><span class="hotkey">Del</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>select_all</mat-icon><span>Select All</span><span class="hotkey">Ctrl+A</span>
        </button>
        <button mat-menu-item (click)="selectNone()">
            <mat-icon>tab_unselected</mat-icon>Select None
        </button>
        <button mat-menu-item (click)="selectSameType()">
            <mat-icon></mat-icon>Select Same Type
        </button>
        <button mat-menu-item (click)="selectInverse()">
            <mat-icon></mat-icon>Select Inverse
        </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="view">View</button>
    <mat-menu #view>
        <button mat-menu-item disabled (click)="setMode(ViewMode.Animator)" [disabled]="undoDisabled">
            <mat-icon><span *ngIf="mode === ViewMode.Animator">check</span></mat-icon>Animator
        </button>
        <button mat-menu-item disabled (click)="setMode(ViewMode.Editor)" [disabled]="redoDisabled">
            <mat-icon><span *ngIf="mode === ViewMode.Editor">check</span></mat-icon>Editor
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="appearance">
            <mat-icon></mat-icon>Viewport
        </button>
        <button mat-menu-item (click)="toggleMenu()">
            <mat-icon><span *ngIf="showProperties">check</span></mat-icon>Properties
        </button>
        <mat-menu #appearance>
            <button mat-menu-item (click)="toggleGridLines()">
                <mat-icon><span *ngIf="showGridLines">check</span></mat-icon>Grid Lines
            </button>
            <button mat-menu-item (click)="toggleRuler()">
                <mat-icon><span *ngIf="rulerVisible">check</span></mat-icon>Ruler
            </button>
            <button mat-menu-item (click)="toggleBreadcrumbs()">
                <mat-icon><span *ngIf="breadcrumbsVisible">check</span></mat-icon>Breadcrumbs
            </button>
            <button mat-menu-item (click)="toggleCode()">
                <mat-icon><span *ngIf="codeVisible">check</span></mat-icon>Code
            </button>            
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="zoomIn()">
                <mat-icon>zoom_in</mat-icon>Zoom In
            </button>
            <button mat-menu-item (click)="zoomOut()">
                <mat-icon>zoom_out</mat-icon>Zoom Out
            </button>
            <button mat-menu-item (click)="center()">
                <mat-icon></mat-icon>Center
            </button>
            <button mat-menu-item (click)="fitViewport()">
                <mat-icon></mat-icon>Fit
            </button>
            <button mat-menu-item (click)="fitViewportSelected()">
                <mat-icon></mat-icon>Fit to Selected
            </button>
        </mat-menu>
    </mat-menu>
    <span class="toolbar-center">{{title}}</span>
    <button class="menu-button" (click)="toggleMenu()" mat-button>
        <mat-icon class="example-icon" aria-hidden="false">menu</mat-icon>
    </button>
</mat-toolbar>