mat-toolbar {
  height: 36px;
  background-color: #3c3c3c;
}
.toolbar-center {
  flex: 1 1 auto;
  text-align: center;
}
.menu-button {
  min-width: 35px !important;
  padding: 0px;
  mat-icon {
    margin: 0px !important;
  }
}