<mat-menu #matMenu="matMenu">
    <div *ngFor="let command of commands">
        <div *ngIf="command && command.commands">
            <app-dynamic-context-menu #subMenu [commands]="command.commands"></app-dynamic-context-menu>
            <button mat-menu-item [matMenuTriggerFor]="subMenu.matMenu"
                *ngIf="subMenu && subMenu.matMenu && command && (!command.commandType || command.commandType === 'command')"
                (mouseEnter)="render()" (mouseLeave)="render()"
                [disabled]="command.canExecute?!command.canExecute():false" [attr.title]="command.tooltip"
                (click)="onActionClicked($event, command)">
                <mat-icon [svgIcon]="$any(command.iconSVG?command.icon:null)">{{command.icon?command.icon:''}}
                </mat-icon>
                <span *ngIf="command.title">{{command.title}}</span><span class="hotkey">{{command.hotkey ||
                    ''}}</span>
            </button>
        </div>
        <div *ngIf="command && !command.commands && (!command.commandType || command.commandType === 'command')">
            <button mat-menu-item [disabled]="command.canExecute?!command.canExecute():false"
                [attr.title]="command.tooltip" (click)="onActionClicked($event, command)">
                <mat-icon [svgIcon]="$any(command.iconSVG?command.icon:null)">{{command.icon?command.icon:''}}
                </mat-icon>
                <span *ngIf="command.title">{{command.title}}</span><span class="hotkey">{{command.hotkey ||
                    ''}}</span>
            </button>
        </div>
        <mat-divider *ngIf="command && command.commandType === 'separator'"></mat-divider>
    </div>
</mat-menu>