<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">File</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="file.click()">Open File...</button>
        <button mat-menu-item [matMenuTriggerFor]="recent">Recent</button>
        <mat-menu #recent="matMenu">
            <button mat-menu-item (click)="loadData(item.str, item.name)"
                *ngFor="let item of recentItems">{{item?.name}}</button>
        </mat-menu>
        <button mat-menu-item>Save</button>
        <input #file type='file' accept="" style="display:none;" (change)="fileSelected($event)">
    </mat-menu>
    <button mat-button (click)="undo()" [disabled]="undoDisabled">
        <mat-icon>undo</mat-icon>
    </button>
    <button mat-button (click)="redo()" [disabled]="redoDisabled">
        <mat-icon>redo</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="view">View</button>
    <mat-menu #view="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="appearance">Viewport</button>
        <button mat-menu-item (click)="toogleProperties()">Show Properties</button>
        <mat-menu #appearance="matMenu">
            <button mat-menu-item (click)="toogleGridLines()">Grid Lines</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="zoomIn()">Zoom In</button>
            <button mat-menu-item (click)="zoomOut()">Zoom Out</button>
            <button mat-menu-item (click)="center()">Center</button>
            <button mat-menu-item (click)="fitViewport()">Fit</button>
            <button mat-menu-item (click)="fitViewportSelected()">Fit to Selected</button>
        </mat-menu>
    </mat-menu>
    <span class="toolbar-center">{{title}}</span>
    <button (click)="toogleProperties()" mat-button>
        <mat-icon class="example-icon" aria-hidden="false">menu</mat-icon>
    </button>
</mat-toolbar>