:host {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  height: 30px;
}

.scroll-container {
  overflow: hidden;
  overflow-x: scroll;
}

mat-tree {
  width: fit-content;
  min-width: 100%;
  background: transparent;
  overflow: hidden;
}

mat-tree-node {
  min-height: 30px;
  max-height: 30px;
  margin-bottom: 2px;
  font-size: 12px !important;
}
