:host {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  height: 30px;
}

.scroll-container {
  overflow: hidden;
  overflow-x: scroll;
}

mat-tree {
  width: fit-content;
  min-width: 100%;
  background: transparent;
  overflow: hidden;
}

.text {
  cursor: default;
}

.selected {
  background-color: #3399ff !important;
  color: white;
}

mat-tree-node {
  min-height: 30px;
  max-height: 30px;
  margin-bottom: 2px;
  font-size: 12px !important;
}

mat-tree-node:hover {
  background-color: #094771;
}

.mat-icon-button {
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
  font-size: 20px;
  padding-left: 2px;
}

mat-icon {
  font-size: 15px;
  height: 15px;
  width: 15px;
  line-height: 15px !important;
  margin-right: 4px;
}

.text {
  white-space: nowrap;
}
