<div class="header noselect"><app-commands-list [commands]="commands"></app-commands-list></div>
<div #treeScroll class="tree noselect" [scrollTop]="scrollTop"
    [ngClass]="{'scroll-container':allowScroll, 'no-scroll-container':!allowScroll}">
    <mat-tree [style.height.px]="height" [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node">
            <app-outline-node [node]="node"></app-outline-node>
        </mat-tree-node>
    </mat-tree>
</div>