<div class="header noselect"><button title="Expand All" class="menu-button" mat-button
        (click)="expandAll()">
        <mat-icon>add</mat-icon>
    </button><button title="Collapse all" class="menu-button" mat-button (click)="collapseAll()">
        <mat-icon>remove</mat-icon>
    </button><button title="Scroll To Selected" class="menu-button" mat-button (click)="scrollToSelected()">
        <mat-icon>anchor</mat-icon>
    </button></div>
<div #treeScroll class="tree noselect" [scrollTop]="scrollTop"
    [ngClass]="{'scroll-container':allowScroll, 'no-scroll-container':!allowScroll}">
    <mat-tree [style.height.px]="height" [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node">
            <app-outline-node [node]="node"></app-outline-node>
        </mat-tree-node>
    </mat-tree>
</div>