@import "/src/variables.scss";
:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  align-content: stretch;
}
.text-editor {
  display: grid;
  grid-template-columns: minmax(70px, auto) 1fr;
  align-items: center;
}

.commands-list {
  gap: 0px;
}
.command-button {
  width: 24px;
  padding: 0px;
  height: 24px;
  margin: 0px;
  min-width: 24px;
  height: 24px;
  line-height: initial;
  vertical-align: middle;
}
.list {
  height: 100%;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0px 5px;
  cursor: pointer;
  vertical-align: middle;
}
.deactivated {
  color: gray;
}
.hover {
  background-color: $node-hover;
}
.container:hover {
  background-color: $node-hover;
}
.selected {
  background-color: #3399ff !important;
  color: white;
}
.content {
  cursor: pointer;
  display: grid;
  vertical-align: middle;
  grid-template-columns: auto 1fr;
}
.text {
  cursor: pointer;
  white-space: nowrap;
}
