@import "variables";
@import "~@angular/material/theming";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// TODO: specify global colors here.

body {
  background-color: #1e1e1e;
  scrollbar-color: gray #161616;
  color: #adadad;
  font-size: 12px;
}
.player {
  overflow: visible !important;
  > svg {
    overflow: visible !important;
  }
}
.mat-menu-panel {
  border-radius: 2px !important;
  .mat-menu-content {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
  button[mat-menu-item] {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    line-height: 45px;
    height: 40px;
  }
  .hotkey {
    float: right;
    text-align: right;
  }
  mat-icon {
    font-size: 18px;
    margin-right: 10px !important;
    vertical-align: middle;
    height: 20px;
    width: 20px;
  }
}
/* right menu*/
.mat-expansion-panel-header {
  height: 30px !important;
}

.mat-expanded {
  height: 100%;
  .mat-expansion-panel-content,
  .mat-expansion-panel-body {
    padding: 0px !important;
    height: 100% !important;
  }
}
.mat-expansion-indicator {
  height: 23px;
}
.nodrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mat-button {
  border-radius: 0px !important;
  border: none;
}

.mat-button-toggle-group {
  border-radius: 0px !important;
  border: none;
}

::-webkit-scrollbar {
  background: $scrollbar-color;
  color: gray;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-corner {
  background: $scrollbar-color;
}
.mat-button-toggle-label-content {
  background-color: none !important;
}

.mat-button-toggle-appearance-standard {
  background-color: initial !important;
  .mat-button-toggle-label-content {
    padding: 0 10px !important;
  }
}

.mat-button-toggle-checked {
  background-color: #212121 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  color: #fff;
  display: block;
  width: 100%;
  height: 24px;
  margin: 0px;
  padding: 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #1e1e1e;
  &:focus {
    border-color: #3399ff;
  }
  &[readonly] {
    background: #333333;
  }
  &[readonly]:focus {
    border-color: rgba(0, 0, 0, 0.5) !important;
    background: #333333;
  }
}
