<div class="accordion" (window:mousemove)="dragMove($event)" (window:mouseup)="dragFinished($event)">
    <div #propertiesPanel class="panel" [class.expanded]="propExpanded">
        <div class="header" (click)="toggleProp()">
            <mat-icon>{{propExpanded?'expand_less':'expand_more'}}</mat-icon>
            <div class="header-text">Properties</div>
        </div>
        <app-properties *ngIf="propExpanded"></app-properties>
    </div>
    <div #outlinePanel class="panel" [class.expanded]="outlineExpanded" *ngIf="mode !== ViewMode.Animator">
        <div *ngIf="propExpanded && outlineExpanded" class="resize"
            [style.height.px]="resizeCursorPrecision" (mousedown)="dragStarted($event)">
        </div>
        <div class="header" (click)="toggleOutline()">
            <mat-icon>{{outlineExpanded?'expand_less':'expand_more'}}</mat-icon>
            <div class="header-text">Outline</div>
        </div>
        <app-outline *ngIf="outlineExpanded" allowScroll="true">
        </app-outline>
    </div>
</div>
<div class="resize-menu nodrag" [style.width.px]="resizeCursorPrecision" (mousedown)="dragStarted($event, true)">
</div>