:host {
  position: relative;
  height: 100%;
  width: 100%;
}
$headerheight: 30px;
.accordion {
  overflow: hidden;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
  flex-direction: column;
  .panel-expanded {
    flex-grow: 1;
    min-height: 150px;
  }
  .panel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    background: none;
    height: auto;
    min-height: $headerheight;
  }
  .panel:only-child {
    .header {
      display: none;
      min-height: $headerheight;
    }
  }
  .expanded {
    height: 100%;
  }
}

.panel-content {
  height: 100%;
  overflow: hidden;
}
.resize-menu {
  position: absolute;
  height: 100%;
  min-width: 3px;
  top: 0;
  margin: auto;
  left: 0;
  cursor: col-resize;
  background-color: transparent;
}
.resize {
  height: 6px;
  min-height: 6px;
  cursor: row-resize;
}
.header {
  min-height: $headerheight;
  height: $headerheight;
  padding: 0px 10px;
  background-color: #424242;
  width: 100%;
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
.header:hover {
  background-color: #424242;
}

mat-icon {
  line-height: $headerheight;
}
.header-text {
  line-height: $headerheight;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  height: $headerheight;
  padding: 0px 4px;
}
